{% extends "layout.html" %}
{% block body_attrs %}onload="checkboxes({{ vmlist }})"{% endblock %}
{% block body %}
<section class="section">
	<span class="tag">
  Selected Organization: {{ orgname }}
</span>
		<span class="tag">
  Selected VDC: {{ vdcname }}
</span>
	<span class="tag">
  Selected vCenter: {{ vcentername }}
</span>
<span class="tag">
  Selected Folder: {{ folder }}
</span>
<div class="container is-fluid">
<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
<form name="vm" action="" method="post">
<label class="label">VMs</label>
<p class="control">
  <span class="select">
    <select name="vm" id="make_checkboxes">
      <option>Select VM</option>

    </select>
  </span>
</p>
			</form>

	  </div>
	</div>
 </div>
</section>
{% endblock %}
